@using GiantNationalBankClient.Models
@model User
@{
    ViewData["Title"] = "Edit User Information";
}
<h1>@ViewData["Title"]</h1>

<p>Edit your user information</p>
<div class="regForm">
    <form asp-action="EditPost" method="post">
        <label for="FirstName">First Name: </label>
        <input asp-for="FirstName"/>
        <span asp-validation-for="FirstName" class="text-danger"></span>
        <br />

        <label for="LastName">Last Name: </label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName" class="text-danger"></span>
        <br />

        <label for="Email">Email: </label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
        <br />

        <label for="Phone Number">Phone: </label>
        <input asp-for="Phone" />
        <span asp-validation-for="Phone" class="text-danger"></span>
        <br />

        <p></p>
        <h4>Mailing Information</h4>
        
        <label for="Street Address">Street Address: </label>
        <input asp-for="Street1" />
        <span asp-validation-for="Street1" class="text-danger"></span>
        <br />

        <label for="Address Line 2">Address Line 2: </label>
        <input asp-for="Street2"/>
        <br />

        <label for="City">City: </label>
        <input asp-for="City" />
        <span asp-validation-for="City" class="text-danger"></span>
        <br />

        <label for="State">State: </label>
        <input asp-for="State" />
        <span asp-validation-for="State" class="text-danger"></span>
        <br />

        <label for="Zip Code">ZipCode: </label>
        <input asp-for="ZipCode" />
        <span asp-validation-for="ZipCode" class="text-danger"></span>
        <br />

        <p></p>
        <input asp-for="UserID" type="hidden">
        <button type="submit" value="Submit">Submit</button>
    </form>
</div>