################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GiantNationalBankClient/.vs/GiantNationalBankClient/FileContentIndex
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/staticwebassets
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/GiantNationalBankClient.AssemblyInfo.cs
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/GiantNationalBankClient.AssemblyInfoInputs.cache
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/GiantNationalBankClient.assets.cache
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/GiantNationalBankClient.GeneratedMSBuildEditorConfig.editorconfig
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/staticwebassets.build.endpoints.json
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/staticwebassets.references.upToDateCheck.txt
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/staticwebassets.removed.txt
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/staticwebassets.upToDateCheck.txt
/.vs/cs2Final/v17
/GiantNationalBankAPI/.vs/GiantNationalBankAPI/FileContentIndex
/GiantNationalBankAPI/GiantNationalBankAPI/bin/Debug/net6.0/GiantNationalBankAPI.dll
/GiantNationalBankAPI/GiantNationalBankAPI/bin/Debug/net6.0/GiantNationalBankAPI.exe
/GiantNationalBankAPI/GiantNationalBankAPI/bin/Debug/net6.0/GiantNationalBankAPI.staticwebassets.endpoints.json
/GiantNationalBankAPI/GiantNationalBankAPI/bin/Debug/net6.0/libman.json
/GiantNationalBankAPI/GiantNationalBankAPI/obj/Debug/net6.0/EndpointInfo
/GiantNationalBankAPI/GiantNationalBankAPI/obj/Debug/net6.0/staticwebassets.build.endpoints.json
/GiantNationalBankAPI/GiantNationalBankAPI/obj/Debug/net6.0/staticwebassets.references.upToDateCheck.txt
/GiantNationalBankAPI/GiantNationalBankAPI/obj/Debug/net6.0/staticwebassets.removed.txt
/GiantNationalBankAPI/GiantNationalBankAPI
/GiantNationalBankClient/GiantNationalBankClient/bin/Debug/net6.0/GiantNationalBankClient.dll
/GiantNationalBankClient/GiantNationalBankClient/bin/Debug/net6.0/GiantNationalBankClient.exe
/GiantNationalBankClient/GiantNationalBankClient/bin/Debug/net6.0/GiantNationalBankClient.staticwebassets.endpoints.json
