################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GiantNationalBankClient/.vs/GiantNationalBankClient/FileContentIndex
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/staticwebassets
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/GiantNationalBankClient.AssemblyInfo.cs
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/GiantNationalBankClient.AssemblyInfoInputs.cache
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/GiantNationalBankClient.assets.cache
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/GiantNationalBankClient.GeneratedMSBuildEditorConfig.editorconfig
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/staticwebassets.build.endpoints.json
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/staticwebassets.references.upToDateCheck.txt
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/staticwebassets.removed.txt
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/staticwebassets.upToDateCheck.txt
/.vs/cs2Final/v17
/GiantNationalBankAPI/.vs/GiantNationalBankAPI/FileContentIndex
/GiantNationalBankAPI/GiantNationalBankAPI/bin/Debug/net6.0/GiantNationalBankAPI.dll
/GiantNationalBankAPI/GiantNationalBankAPI/bin/Debug/net6.0/GiantNationalBankAPI.exe
/GiantNationalBankAPI/GiantNationalBankAPI/bin/Debug/net6.0/GiantNationalBankAPI.staticwebassets.endpoints.json
/GiantNationalBankAPI/GiantNationalBankAPI/bin/Debug/net6.0/libman.json
/GiantNationalBankAPI/GiantNationalBankAPI/obj/Debug/net6.0/EndpointInfo
/GiantNationalBankAPI/GiantNationalBankAPI/obj/Debug/net6.0/staticwebassets.build.endpoints.json
/GiantNationalBankAPI/GiantNationalBankAPI/obj/Debug/net6.0/staticwebassets.references.upToDateCheck.txt
/GiantNationalBankAPI/GiantNationalBankAPI/obj/Debug/net6.0/staticwebassets.removed.txt
/GiantNationalBankAPI/GiantNationalBankAPI
/GiantNationalBankClient/GiantNationalBankClient/bin/Debug/net6.0/GiantNationalBankClient.dll
/GiantNationalBankClient/GiantNationalBankClient/bin/Debug/net6.0/GiantNationalBankClient.exe
/GiantNationalBankClient/GiantNationalBankClient/bin/Debug/net6.0/GiantNationalBankClient.staticwebassets.endpoints.json
/GiantNationalBankAPI/GiantNationalBankAPI/obj/Debug/net6.0/GiantNationalBankAPI.AssemblyInfo.cs
/GiantNationalBankAPI/GiantNationalBankAPI/obj/Debug/net6.0/GiantNationalBankAPI.AssemblyInfoInputs.cache
/GiantNationalBankAPI/GiantNationalBankAPI/obj/Debug/net6.0/GiantNationalBankAPI.assets.cache
/GiantNationalBankAPI/GiantNationalBankAPI/obj/Debug/net6.0/GiantNationalBankAPI.GeneratedMSBuildEditorConfig.editorconfig
/GiantNationalBankAPI/GiantNationalBankAPI/obj/GiantNationalBankAPI.csproj.nuget.dgspec.json
/GiantNationalBankAPI/GiantNationalBankAPI/obj/project.nuget.cache
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/GiantNationalBankClient.AssemblyInfo.cs
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/GiantNationalBankClient.AssemblyInfoInputs.cache
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/GiantNationalBankClient.assets.cache
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/GiantNationalBankClient.GeneratedMSBuildEditorConfig.editorconfig
/GiantNationalBankClient/GiantNationalBankClient/obj/GiantNationalBankClient.csproj.nuget.dgspec.json
/GiantNationalBankClient/GiantNationalBankClient/obj/project.assets.json
/GiantNationalBankClient/GiantNationalBankClient/obj/project.nuget.cache
/GiantNationalBankAPI/.vs/GiantNationalBankAPI/v17/.suo
/GiantNationalBankAPI/.vs/GiantNationalBankAPI/v17/DocumentLayout.json
/GiantNationalBankAPI/.vs/GiantNationalBankAPI/v17/DocumentLayout.backup.json
/GiantNationalBankClient/.vs/GiantNationalBankClient/v17/.suo
/GiantNationalBankClient/.vs/GiantNationalBankClient/v17/DocumentLayout.json
/GiantNationalBankClient/.vs/GiantNationalBankClient/v17/DocumentLayout.backup.json
/GiantNationalBankClient/GiantNationalBankClient/bin/Debug/net6.0/GiantNationalBankClient.pdb
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/ref/GiantNationalBankClient.dll
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/refint/GiantNationalBankClient.dll
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/apphost.exe
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/GiantNationalBankClient.csproj.CoreCompileInputs.cache
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/GiantNationalBankClient.dll
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/GiantNationalBankClient.pdb
/GiantNationalBankClient/GiantNationalBankClient/obj/Debug/net6.0/GiantNationalBankClient.sourcelink.json
