
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

  <section class="intro">
    <h1>Welcome</h1>
    <p>We are Giant National Bank - Building and maintaining trust for our clients, employees and shareholders is at the heart of governance at Giant National Bank. Delivering responsible growth requires an experienced, independent board of directors, skilled management, and clear and effective governance practices.</p>
  </section>


  <footer>
    <p>Copyright Protected. All rights reserved. Sample website for educational purposes only</p><br/>
    <p>GIANT NATIONAL BANK</p>
    <p>help@gnb.bank</p>
  </footer>
