@using GiantNationalBankClient.Models
@model LoginResponseModel
@{
    ViewData["Title"] = "Admin Dashboard";

}

<section class="intro">
    <h1>Admin Dashboard</h1>
</section>
<section class="dashboardLinks">
    <ul>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Admin" asp-action="AllAccountsView">View All Acounts</a>
        </li>
    </ul>
</section>

<section>
    <h4>Your profile data</h4>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.AdminData.FirstName</td>
                <td>@Model.AdminData.LastName</td>
                <td>@Model.AdminData.Email</td>

            </tr>

        </tbody>
    </table>
</section>


